<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>



<div class = 'BoxWrapper'>
{% include 'header.html' %}
<h1>Delete Category</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<form action="{{ url_for('deleteCategory', category_id = category.id)}}" method = 'post'>
<dl>
	<dt>Are you sure that you want to delete '{{category.name}}'?</dt>

</dl>

<input type='submit' value='Yes'> <input type='button' onclick="window.location.href='{{url_for('showCategories')}}';" value='No'>

</form>
{% include 'footer.html' %}
</div>

</body>




</html>