<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>

<h1>Delete Comment</h1>

<div class = 'BoxWrapper'>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<form action="{{url_for('deleteComment', category_id = category_id, comment_id=comment_id ,post_id = post_id)}}" method = 'post'>
<dl>
	<dt>Are you sure that you want to delete this comment?</dt>

</dl>

<input type='submit' value='Yes'> <input type='button' onclick="window.location.href='{{url_for('showPost', post_id=post_id , category_id=category_id)}}';" value='No'>

</form>
</div>

</body>




</html>