<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>

<h1>Edit Category</h1>

<div class = 'BoxWrapper'>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<form action="{{ url_for('editCategory', category_id = category.id)}}" method = 'post'>

<dl>
	<dt>Category title:</dt>
		<dd><input type ='text' size='30' name='title' placeholder='{{category.name}}'></dd>

</dl>


<input type='submit' value='Submit'>
<a href = "{{url_for('showCategories')}}"> <h3><-- Return to categories</h3></a>
</form>
</div>

</body>




</html>