<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>



<div class = 'BoxWrapper'>
{% include 'header.html' %}
<h1>New Post</h1>
<form action="{{ url_for('addPost', category_id=category_id )}}" method = 'post'>

<dl>
	<dt>Title:</dt>
		<dd><input type ='text' size='30' name='title'></dd>
	<dt>Content:</dt>
		<dd><textarea name = 'content' rows='5' cols='40' > </textarea></dd>

</dl>


<input type='submit' value='Create'>
</form>
<a href="{{url_for('showCategoryPosts', category_id=category_id)}}"><-- Return to {{categoryName}}</a>
{% include 'footer.html' %}
</div>
</body>




</html>